@model happylifeluxury.Models.IndexViewModel
@{
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
    ViewData["Title"] = "Car Rental";
}

<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
    <div>
        <h3 class="fw-bold mb-3">Bize Ulaşın Gelen Kutusu</h3>
        <h6 class="op-7 mb-2">Car Rental</h6>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Gelen Kutusu #@Model.Inbox!.Id</h4>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3>@Model.Inbox!.Title</h3>
                        <p class="fw-bold">@Model.Inbox!.Name <br> @Model.Inbox!.Email <br> @Model.Inbox!.Phone</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <p>@Model.Inbox!.Message</p>
                </div>
                <div class="col-md-6 mt-5">
                    <a href="/admin/inbox">
                        <button class="btn btn-dark btn-fw w-100" id="update">Geri Dön</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
